.App, .centered {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.add-food{
  margin-left: auto;
  margin-right: auto;
}

.manage-food{
  display: flex;
}

.ml-05{
  margin-left: 5% !important;
}

.mt-1{
  margin-top: 1rem !important;
}

.w-25{
  width: 25%;
}

.w-50{
  width: 50%;
}

.w-75{
  width: 70%;
}

.w-100{
  width: 100%;
}